<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DigitalComplexServer API</title>
  </head>
  <style>
    html {
      margin: 0;
      padding: 0;
    }
    .container {
      display: flex;
      max-width: 750px;
      height: 90vh;
      margin: 0 auto;
      padding: 0 auto;
      background-color: #2e2e2e;
      color: white;
      text-align: center;
      flex-direction: column;
      align-items: center;
      box-shadow: -15px 5px 30px 10px rgba(128, 128, 129, 0.2),
        -15px 5px 30px 10px rgba(128, 128, 129, 0.4),
        -15px 5px 30px 10px rgba(128, 128, 129, 0.6);
    }
    .content {
      color: white;
      justify-self: center;
      padding: 2.5em;
      font-size: 24px;
    }
  </style>
  <body>
    <main class="container">
      <h1>Welcome to the Digital Complex API</h1>
      <div class="content">
        <a style="color: whitesmoke;" href="<%= documentation.url %>"
          >View the Documentation</a
        >
        <p>
          Digital Complex is an E-Commerce Based API to test and design user
          interfaces for now in Future we are looking farword to Make this api
          available for commercial purpose where one's need not to code the
          logic of their ecommerce app and they can utilize this API for the
          same
        </p>
      </div>
    </main>
  </body>
</html>
